{% extends "tharack/layout.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'tharack/files/about.css' %}">
    <section class="identify">
        <div class="biography">
            <img src="{% static 'tharack/images/myimage.jpeg' %}">
            <p class="about-me">
                I'm Tharcisse Ntirandekura, a software engineer and programmer. With a strong background in coding and a passion for creating high-quality software solutions, I am dedicated to delivering exceptional results.
            I specialize in web development, mobile app development, or data analysis. Through my experience, I have developed a deep understanding of various programming languages, including  Python, JavaScript, or Java.
            </p>
        </div>
        <div class="hobby">
            <img src="{% static 'tharack/images/myimage.jpeg' %}">
   
        </div>
    </section>


    <!-- <img src="{% static 'portfolio/images/background.jpeg' %}"> -->

{% endblock body %}