{% extends "tharack/layout.html" %}
{%load static%}

{% block body %}
    <link rel="stylesheet" href="{% static 'tharack/files/contact.css'%}">
    <script src="{% static 'tharack/backend/index.js' %}"></script>
    <section class="contact_bar">
        <div class="contact">
            <h3>(440) 458 1012</h3>
            <h3>tharcissentira@gmail.com</h3>
            <h3>135 W. Lorain St</h3>
            <h3>Oberlin, OH</h3>
            <h4>United States</h4>
        </div>

        <div class="message">
            <div class="email">
                <input class="emails" type="email" placeholder="Email" required>
                <textarea class="comment "rows="4" cols="50">if suggestion:
        $delete:${this message};
        then type comment;
                </textarea>
                <input class="btn" type="submit" value="submit">
                </div>

            </div>
        </div>

    </section>

{% endblock body %}