{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My personal portfolio</title>
    <!--<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>-->
    <link rel="stylesheet" href="{% static 'tharack/files/layout.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section class="nav-bar">
        <ul>
        <li class="home"><a href="{% url 'tharack:home' %}">home</a></li>
        <li class="about"><a href="{% url 'tharack:about' %}">about</a></li>
        <li id="portfolio"><a href="{% url 'tharack:portfolio' %}">porfolio</a></li>
        <li id="resume"><a href="">resume</a></li>
        <li id="contact"><a href="{% url 'tharack:contact' %}">contact</a></li>
        <span id="backs"onclick = "change()" class="fa fa-toggle-on"></span>
        

        </ul>

    </section>

    </section>
    <div class="menu">
        <span id='show' onclick="toggles()" class="fa fa-bars"></span>
        <span id="backs" onclick="change()" class="fa fa-toggle-on"></span>
    </div>
    <script src="{% static 'tharack/backend/index.js' %}"></script>

    {% block body %}
    {% endblock  %}

</body>
</html>
