{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My personal portfolio</title>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="{% static 'tharack/files/layout.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <section class="nav-bar">
        <li id="about"><a href="{% url 'tharack:about' %}">about</a></li>
        <li id="resume"><a href="#resume">resume</a></li>
        <li id="portfolio"><a href="#porfolio">porfolio</a></li>
        <li id="contact"><a href="{% url 'tharack:contact' %}">contact</a></li>
        <li id="home"><a href="{% url 'tharack:home' %}">home</a></li>

    </section>
    
    {% block body %}  
    {% endblock  %}
</body>
<script>
    var typed = new Typed('h2', {
    strings: ["Software engineer","computer scientist"],
    typeSpeed: 60,
    backSpeed : 60,
    loop:true
    });
</script>
</html>