
{% extends "tharack/layout.html" %}
{%load static%}
{% block body %}
    <link rel="stylesheet" href="{% static 'tharack/files/portfolio.css' %}">
    <div class="intro">
        <h1>welcome to my projects</h1>
    </div>
    <section class="project">
        <dic class="lines">
            <div class="position">
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.
                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.

                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.
                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.

                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.
                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.

                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.
                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.

                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.
                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.

                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.
                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.

                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.
                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.

                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.
                </p>
                <p>
                    <img src="{% static 'tharack/images/myimage.jpeg' %}">
                    However, if AI finds suspicious data like a virus or ransomware, it will notify the security manager and exclude the data from being stored for security reasons. However, to ensure the manager understands the wrongness of the AI, he has to analyze the information sent to double-check if it is ransomware or a virus.

                </p>

            </div>
        </dic>
    </section>

    <footer class="footer">
        <h1> Here was a great night</h1>
    </footer>

{% endblock body %}

