
.identify .hobby{
    display: grid;
    grid-auto-flow: column;
}

.biography{
    position: relative;
    font-size: 18px;
    background-color:rgb(15, 2, 2);
    color: rgb(117, 123, 124);
    widows: 40%;
    position: absolute;
    padding: 1% 10px 10px 10px;
    top: 20%;
    border-radius: 10px;
    height: auto;
    left: 4%;
    right: 4%;
    float: left;
    border-style: solid;
    /* border-color: aqua; */
    border-radius: 2em;
}
.about-me{
    position: relative;
    border-radius: 3px;
    margin: 20px 10px 10px 10px;
    padding: 20px;
    text-align: justify;
    word-break: break-all;
    box-shadow: 5px 2px 2px 5px rgba(0, 100, 205, .3);
}
.biography img{
    position: relative;
    display: grid;
    height:20em;
    border-style: solid;
    /*border-color: aqua;*/
    border-radius: 10em;
    left: 30%;
    justify-content: center;
    align-items:center;
}

.hobby {
    background-color:rgb(15, 2, 2);
    position: relative;
    float:right;
    display: grid;
    height:auto;
    width: auto;
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    right: 40%;
    justify-content: center;
    align-items:center;
    top: 6em;



}


.identity {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

@media screen and (max-width :800px) {
  .biography img {
    right : 20%;
    position :relative;
    height : 40%;
    width : 40%
    }
    .about-me{
     position : relative;
     font-size: 18px;
    }

}

@media screen and (min-width :800px) {
    .identify{
        display: grid;
        grid-auto-flow: column;
        position: relative;
        justify-content : center;
        align-items : center;
        width : 60%;
        left: 20%;
        top : 4em;

    }
    .biography img{
        right : 20%;
        position :relative;
        height : 40%;
        width : 40%
    }
    }
    .about-me{
        position : relative;
        font-size: 26px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    span{
        color: rgb(0, 157, 255);
        font-size: 27px;
    }
    .language{
        color: rgb(43, 226, 116);
    }








