
.contact_bar{
    display: flex;
    flex-direction:row ;
    position: relative;
    background-color: rgb(20, 25, 35);
<<<<<<< HEAD
    top: 2em;
    width: 60%;
    margin-left: 15%;
=======
    top: 10em;
    width: 60%;
    margin-left: 20%;
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
    margin-right: 15%;
    height: 50vh;
    border-radius: 10px;
}

.contact h3, h4{
    padding-left: 15%;
    padding-right: 15%;
    color:coral;
    font-style: italic;
    display: grid;
<<<<<<< HEAD
    font-size:20px;
=======
    font-size: 18px;


    
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e

}
h4{
    padding-bottom: 20%;
}

.message{
    position: inherit;
<<<<<<< HEAD
    background-color:rgb(85 88 19);
    min-width: 40%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 20%;
    padding: 14px;
    width: 60%;

=======
    background-color: rgb(13, 43, 103);
    min-width: 40%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    left: 15%;
    padding: 14px;
    width: 60%;
    
    
    
    
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
}
.email{
    font-size: 24px;
    position: absolute;
    display: grid;
    justify-content: center;
    align-self: center;
    padding: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
<<<<<<< HEAD
    width: 84%;
=======
    width: 80%;
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
    height: 30px;

}

.comment{
    position: absolute;
    background-color: cornsilk;
    display: grid;
    justify-content: center;
    align-self: center;
    font-style: italic;
    padding: 10px;
    min-width: 30%;
    width: 80%;
    max-width: 80%;
    height: 200px;
    max-height: 200px;
    top: 70px;
    font-size: 24px;
}

.btn{
    position: absolute;
    display: grid;
<<<<<<< HEAD
    background-color:rgb(102, 16, 181);
    font-size: 24px;
    width: 40%;
    height: 50px;
    border: 1px;
    border-style:solid;
    color:aqua;
    top: 14em;
    left : 4em;
}
.emails{
    position:relative;
    width:170%;
    /*height: 10vh;*/
    font-size:26px;
    right: 150px

}

=======
    justify-content: center;
    align-self: center;
    background-color:rgb(102, 16, 181);
    font-size: 24px;
    border: 3px;
    top: 13em;
    width: 30%;
    height: 50px;

}
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
@media screen and (max-width: 800px) {

    .contact_bar{
        position : relative;
<<<<<<< HEAD
        display: grid;
        background-color : rgb(64, 98, 98);
        margin-left: 5%;
        width: 90%;
    }
    .contact{
        position :relative;
        left:0;
    }
    .message{
        position: relative;
        background-color:rgb(85 88 19);
        min-width: none;
        bottom:5em;
        left:0;
        height: 54vh;
        width: 92%;
        border-top-right-radius: 0px;

    }
    .comment{
        position: relative;
        max-width: 100%;
        width: 92%;
        top:1em;
    }
    .emails{
    position:relative;
    width:100%;
    height:40px;
    font-size:20px;
    right:0;
    }
    .btn{
        position:absolute;
        left:3.5 em;
    }
=======
        display: flex;
        flex-direction: column;
        background-color : rgb(64, 98, 98);
        width: 90%;
        height: 90vh;
    }
    .contact_bar .message{
        position: relative;
        width: 90%;   
    }
    .message{
        position: relative;
        background-color:rgb(19, 74, 176);
        min-width: none;
        height: 90vh;
        width: 90%;
        
    }
    .comment{
        position: relative;
        width: 90%;
        }
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
}


