body{
    font-size: 18px;

<<<<<<< HEAD

=======
    
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
}
.intro,.footer{
    position: relative;
    display: grid;
    justify-content: center;
    align-self: center;
<<<<<<< HEAD

}
.welcome{
=======
    
}
h1{
    
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
    text-shadow: rgb(0, 204, 255) 2px 5px;
    text-decoration: dashed;
    color: white;
}
.project{
    margin-left: 5%;
    margin-right: 5%;
<<<<<<< HEAD

=======
    
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
}
.project p{
    position: relative;
    padding: 20px 20px 40px 40px;
    background-color: rgb(16, 10, 33);
    width: 20%;
    border-radius: 8px;

}
.project span{
    display: inline-block;
    font-size: 20px;
    padding: 30px;
}

p{
    display: inline-block;
    padding-left: 20px;

}
p:hover{
    color: burlywood;
}
img{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5%;
}
img:hover{
    height: 10px;
    transition: 5.30s;
}


@media screen and (max-width: 800px) {
<<<<<<< HEAD
    .welcome{
        position:relative;
        margin-bottom: 100px;
        margin-right :100px;
    }
    .project{

        margin-left : 0;
        margin-right : 20px;
        margin-top: 20px;
    }
    .project p{
        position: relative;
        padding: 20px 20px 40px 40px;
        background-color: rgb(16, 10, 33);
        width: 90%;
        border-radius: 8px;

    }
    .position{
        position: relative;
        width: 100%;
        height: 300px;
        border-radius: 5%;
    }
    img{
        position:relative;
        right:10px;
    }

}
=======
    .project{
        position: relative;
        padding: 10px 10px 20px 20px;
        background-color: rgb(16, 10, 33);
        width: 20%;
        border-radius: 5px;
    }
}

@media screen and (min-width: 40px) {
    body{
        font-size: 10px;
        
    }
    .project{
        position: relative;
        display: grid;
        padding: 10px 10px 20px 20px;
        background-color: rgb(16, 10, 33);
        width: 20%;
        border-radius: 5px;
    }
}
>>>>>>> 249352a1b7009db18fdc27056b030713ccf3ff5e
